*{
    margin: 0;
    padding: 0;
    font-family: Meiryo, sans-serif;
}

body{
    background: #f9f9f9;
}

.container{
    width: 900px;
    margin: auto;
}

main{
    width: 600px;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    float: left;
}

nav{
    overflow: hidden;
    background: #ff4c4c;
    margin-bottom: 5px;
}

nav li{
    float: left;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
    transition: 0.5s;
}

nav a:hover{
    background: #B22222;
    color: #fff;
}

nav .c{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
    transition: 0.5s;
}

nav .c:hover{
    background: #315096;
    color: #fff;
}

nav .d{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
    transition: 0.5s;
}

nav .d:hover{
    background: #fff;
    color: #000;
}

nav .e{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
    transition: 0.5s;
}

nav .e:hover{
    background: #009cdc;
    color: #fff;
}

.sidebar{
    width: 200px;
    float: left;
    background: #fff;
    padding: 20px;
    margin-left: 10px;
}

.top-image{
    float: left;
    margin-right: 10px;
}

.title{
    float: left;
    font-size: 15px;
    width: 350px;
    margin-bottom: 5px;
}

.description{
    float: left;
    width:350px;
    margin-bottom: 5px;
}

.lit-btn{
    background: #f9f9f9;
    color: #ff4c4c;
    font-size: 12px;
    border: 1px solid #ff4c4c;
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
    float: left;
}
.lit-btn:hover{
    background: #ff4c4c;
    color: #f9f9f9;
    transition: 1s;
}